* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to left, #bbbbbb, #eeeeee); */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-row-gap: 2em;
}

/* .box {
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
} */

.first-row {
  height: 100px;
  grid-column: 1 / 12;
  display: flex;
  justify-content: space-between;
}

.second-row {
  height: auto;
  padding: 0;
  grid-column: 1 / 12;
  display: flex;
  justify-content: center;
}

.third-row {
  height: auto;
  grid-column: 2 / 11;
}

.forth-row {
  height: auto;
  grid-column: 2 / 11;
  display: flex;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
}

.fifth-row {
  height: 100px;
  grid-column: 1 / 12;
  background-color: #2e2729;
}

.logo-container {
  height: 100px;
  width: 100px;
  text-align: center;
}

#logo-img {
  height: 90px;
  width: 90px;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

.recipe-container a {
  padding: 1em;
  text-decoration: none;
  /* border: 2px blue solid; */
}

.about-container {
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.about {

}

.food-title {
  font-family: "Shadows Into Light", cursive;
  font-size: 5em;
  margin: auto;
}

#ramen-img {
  width: 100%;
  border-radius: 0.5em;
  opacity: 0.8;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.5);
}

.ingredients-container {
  width: 33%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  /* border-top: 10px solid red; */
}

.ingredients {
  background-color: #fefbfa;
}

.instructions {
  background-color: #f9f1ed;
}

.fun {
  background-color: #fefbfa;
}

.instructions-container {
  width: 34%;
}

.fun-fact-container {
  width: 33%;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.article-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.article-title h2 {
  margin: 0;
}

.article-main {
  padding: 1.5em;
}

/* 700px or less(mobile phones) */
@media screen and (max-width: 700px) {
  .logo-container {
    display: block;
  }
  .main-nav a {
    flex: auto;
    width: 100%;
    display: block;
  }
  .ingredient-section, .instructions-section {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border: 0;
  }
  .hakataya {
    margin: 0 auto;
  }
  .loader {
    display: none;
  }
}
